
@{
    ViewData["Title"] = "Login";
}

@model LoginClass;

<div class="bg-light mh-100 h-100 d-flex justify-content-center align-items-center">
	<div class="bg-white w-30 h-95 flex-column align-items-center round-login p-4">
        <div class="mb-2 d-flex justify-content-center">
            <img src="~/images/Sign.png" class="login-logo"/>
        </div>

        <div class="mb-3 d-flex justify-content-center w-100 primary-color">
            <h1>Login</h1>
        </div>

        
        <div class="container">
            @using (Html.BeginForm("LoginAction", "Login", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm">
                        <div class="mb-3">
                            <label for="Email" class="form-label primary-color">Email Address</label>
                            @Html.TextBoxFor(model => model.UserDetails.Email, new { @type = "email", @class = "form-control", @placeholder = "name@example.com" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="mb-3">
                            <label for="Password" class="form-label text-justify primary-color">Password</label>
                            @Html.TextBoxFor(model => model.UserDetails.Password, new { @type = "password", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="mb-3 primary-color" id="notificationBar">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="mb-3">
                            <button class="btn primary-button w-100" type="submit">Login</button>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm">
                    <div class="mb-3 d-flex justify-content-center w-100">
                        <span class="primary-color">or</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="mb-3">
                        @using (Html.BeginForm("GoToRegister", "Login", FormMethod.Post))
                        {
                            <button class="btn secondary-button w-100" type="submit">Create an Account</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        

        

        <script>
            var modelOutput = @Html.Raw(Json.Serialize(Model));
            var message = modelOutput.message.notificationMessage;

            var messageBar = document.getElementById("notificationBar");
            messageBar.innerHTML = message;

        </script>
    </div>


</div>