<!DOCTYPE html>

@{
    var token = this.ViewContext.HttpContext.Session.GetString("token");
    bool isAuthenticated = !string.IsNullOrEmpty(token);
    var name = this.ViewContext.HttpContext.Session.GetString("name");
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vocab Master</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GREWordGames.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="height: 60px">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow navbar-color">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>Vocab Master</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="MyWords">My Words</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Practice">Practice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="WaitingRoom">Word Game</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutGame">About Game</a>
                        </li>
                        -->
                    </ul>
                </div>
                @if (isAuthenticated)
                {
                    <div class="d-flex flex-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Welcome @name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SignOutUser">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="d-flex flex-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
	<div class="main-content">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted bg-light px-5">
        <div class="container">
            &copy; 2025 - Vocab Master - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
