@{
    ViewData["Title"] = "Home Page"; 
}

@using (Html.BeginForm("GoToLogin", "Home", FormMethod.Post))
{
    <button class="btn btn-primary" type="submit">Login</button>
}

@using (Html.BeginForm("GoToRegister", "Home", FormMethod.Post))
{
    <button class="btn btn-primary" type="submit">Register</button>
}

@using (Html.BeginForm("GoToMyWords", "Home", FormMethod.Post))
{
    <button class="btn btn-primary" type="submit">MyWords</button>
}

@using (Html.BeginForm("GoToWaitingRoom", "Home", FormMethod.Post))
{
    <button class="btn btn-primary" type="submit">WaitingRoom</button>
}