@{
    ViewData["Title"] = "WaitingRoom";
}

@model HostRoomDetails

<div class="w-100 h-100 bg-light d-flex justify-content-center align-items-center">
    <div class="w-75 h-75 container">
        <div class="row w-100 h-100">
            <div class="col-sm-5">
                <button class="btn primary-button-variant h-100 w-100 large-large-font" id="hostCardReveal" onclick="revealHostCard()">Host Room</button>
                <div class="hidden-element" id="hostCard">
                    <div class="large-large-font w-100 h-20 d-flex justify-content-center">Host Room</div>
                    <label for="enterPassword" class="form-label">Enter Password (optional)</label>
                    <input type="text" id="enterPassword" name="enterPassword" class="form-control" />

                    <label for="enterRounds" type="form-label">Enter Number of Words</label>
                    <input type="number" id="enterRounds" name="enterRounds" class="form-control" />

                    <input class="form-check-input" type="checkbox" value="" id="nonOverlappingWords">
                    <label class="form-check-label" for="nonOverlappingWords"> Use non-overlapping words </label>

                    <button class="btn primary-background" type="submit" onclick="hostRoom()">Host Room</button>

                    <div id="messageBar"></div>

                    <div id="addedRoom"></div>

                    @using (Html.BeginForm("StartGame", "Home", FormMethod.Post))
                    {

                        <div id="displayStartButton"></div>
                    }

                    @using (Html.BeginForm("WaitToStart", "Home", FormMethod.Post, new { id = "waitToStartForm" }))
                    {
                        <div id="guestStart"></div>
                        <input type="hidden" name="roomNumber" />
                    }
                </div>
            </div>
            <div class="col-sm-2">
                or
            </div>
            <div class="col-sm-5">
                <button class="btn primary-button-variant h-100 w-100 large-large-font" id="joinCardReveal" onclick="revealJoinCard()">Join Room</button>
                <div class="hidden-element" id="joinCard">
                    <label for="joinRoomNumber" class="form-label">Enter Room Number</label>
                    <input type="text" class="form-control" id="joinRoomNumber" name="joinRoomNumber" />

                    <label for="joinPassword" class="form-label">Enter Password (if any)</label>
                    <input type="text" class="form-control" id="joinPassword" name="joinPassword" />

                    <button class="btn btn-primary" type="submit" onclick="joinRoom()">Join Room</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var revealHostElement = document.getElementById("hostCardReveal");
    var hostElement = document.getElementById("hostCard");
    var revealJoinElement = document.getElementById("joinCardReveal");
    var joinElement = document.getElementById("joinCard");

    function revealHostCard() {
        revealHostElement.classList.add("hidden-element");
        hostElement.classList.remove("hidden-element");
    }

    function revealJoinCard() {
        revealJoinElement.classList.add("hidden-element");
        joinElement.classList.remove("hidden-element");
    }

    function hostRoom(){
        var addRoomDetails = document.getElementById("addedRoom");
        var messageBar = document.getElementById("messageBar");
        var displayStartButton = document.getElementById("displayStartButton");

        var passwordInput = document.getElementById("enterPassword").value;
        var rounds = document.getElementById("enterRounds").value;
        var tick = document.getElementById("nonOverlappingWords").value;

        $.ajax({
            url: "/HostRoom",
            type: "GET",
            data: { password: passwordInput, rounds: rounds, exclusive: tick }
        }).done(response => {
            if (response.success) {
                addRoomDetails.innerHTML = "<h1>" + response.roomNumber.toString() + "</h1>";
                messageBar.innerHTML = response.message;
            }
            messageBar.innerHTML = response.message;

            waitForPlayers(response.roomNumber);
            displayStartButton.innerHTML = '<button class="btn primary-background" type="submit" disabled>Start Game</button>';

        }).fail(response => {
            messageBar.innerHTML = "Unexpected Error Occured";
        });
    }

    function joinRoom() {
        var messageBar = document.getElementById("messageBar");

        var joinPassword = document.getElementById("joinPassword").value;
        var joinRoomNumber = document.getElementById("joinRoomNumber").value;

        $.ajax({
            url: "/JoinRoom",
            type: "GET",
            data: { roomNumber: joinRoomNumber, password: joinPassword }
        }).done(response => {
            if (response.success) {
                waitToStart(joinRoomNumber)
            }
            
            messageBar.innerHTML = response.message;
            
        }).fail(response => {
            messageBar.innerHTML = "Unexpected Error Occured";
        });
    }

    function waitForPlayers(roomNumber) {
        var messageBar = document.getElementById("messageBar");
        var displayStartButton = document.getElementById("displayStartButton");

        $.ajax({
            url: "/WaitForPlayers",
            type: "GET",
            data: { roomNumber: roomNumber }
        }).done(response => {
            if (response.success) {
                displayStartButton.innerHTML = '<button class="btn primary-background" type="submit">Start Game</button>';
            }
            messageBar.innerHTML = response.message;

        }).fail(response => {
            messageBar.innerHTML = "Unexpected Error Occured";
        });
    }

    function waitToStart(roomNumber) {
        var messageBar = document.getElementById("messageBar");

        document.querySelector('input[name="roomNumber"]').value = roomNumber;
        document.getElementById('waitToStartForm').submit();
    }

</script>

